HEAD
langchain==0.1.14
langchain-openai==0.0.8
langchain-community==0.0.30
python-dotenv==1.0.0
PyPDF2==3.0.1
tiktoken==0.5.2
chromadb==0.4.22
pypdf==3.17.1
openai>=1.6.1,<2.0.0 
langchain==0.1.0
langchain-community==0.0.16
konlpy==0.6.0
tqdm==4.66.1
pypdf==3.17.4
python-pptx==0.6.21
pandas==2.0.3
openpyxl==3.1.2 
85127ee (Hello my name is jinyang)